body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #1f2632;
  box-sizing: border-box;
}

.container {
  width: 450px;
  height: 450px;
  background-color: #323a49;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 15px 20px 10px black;
}

h1 {
  margin-bottom: 35px;
  color: #fff;
}

.qrcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.input {
  height: 30px;
  margin-top: 25px;
  width: 95%;
  outline: none;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}

a {
  font-weight: bold;
  font-size: 25px;
  color: #FFF;
  margin-top: 20px;
  text-decoration: none;
}